# RPC URLS 
SEPOLIA_RPC_URL= 
OPT_SEPOLIA_RPC_URL= 
ARB_SEPOLIA_RPC_URL= 
BASE_SEPOLIA_RPC_URL= 

# Scan APIs
ETHERSCAN_API_KEY= 
OPT_ETHERSCAN_API_KEY= 
ARBISCAN_API_KEY= 

# Addresses -- change address Burner Wallet later on. 
DEV2_ADDRESS= 
BURNER_WALLET= 
BURNET_WALLET_KEY= 

DEFAULT_ANVIL_KEY_0= 
DEFAULT_ANVIL_KEY_1= 
DEFAULT_ANVIL_KEY_2=
DEFAULT_ANVIL_KEY_3=
DEFAULT_ANVIL_KEY_4=